<ion-header>
  <ion-toolbar>
    <ion-title> Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-label>{{userData.nombre_cliente}}</ion-label>
  </div>
<div>
  <ion-label>{{userData.apellido_cliente}}</ion-label>
</div>
<div>
  <img  src="http://trueque.ga/shop/images/store/{{userData.logo}}" width="100px"  >
</div>
<div>
  <ion-label>{{userData.nameStore}}</ion-label>
</div>
<div>
<ion-label>{{userData.puntos }}</ion-label>  
</div>

</ion-content>
