$transp: transparent !important;

//NUEVAS PALETA DE COLORES...
$primary-clr:   #0A141D;
$secondary-clr: #FE1417;
$tertiary-clr:  #FFFFFF;
$coral:         #FF394C;
$pink:          #E6010C;

//FUENTE SECUNDARIA...
$font-spartan:  'Spartan';

ion-content {
  .back-sidebar-left-ttrq {
    background: linear-gradient(180deg, $coral, $pink);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .cont-more-info{
      z-index: 9999999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem 0 1rem !important;
      margin: 2rem 0 1.5rem 0 !important;
      .cont-logo-sdlf-ttrq {
        background: $transp;
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 120px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-bottom: 1.55rem;
        overflow: hidden;

        img {
          width: 100%;
          -o-object-fit: contain;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
        }
      }
      .cont-info-client{
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        h1{
          font-size: 1.2rem;
          font-weight: bold;
          width: 72%;
          margin: auto !important;
        }
        p{
          margin: 0;
          font-weight: 300;
        }
      }
    }

    ion-list {
      background: transparent !important;
      height: 100%;
      z-index: 9999;

      ion-menu-toggle {
        background: $transp;

        .item-list-cont {
          background: $transp;
          display: flex !important;
          align-items: center;
          justify-content: center;

          .cont-item-listside{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            position: relative;
            padding: 0 1rem 0 2.5rem;
            margin: 0 0 .8rem 0;

            img{
              width: 40px;
              height: 40px;
              margin-right: 0.8rem;
            }
            span{
              color: $tertiary-clr;
              font-weight: bold;
            }
          }

          ion-icon {
            color: #fff;
          }
          ion-label {
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }

    .footer-sdbl-ttrq {
      background: $transp;
      background: transparent !important;
      font-size: 0.8rem;
      text-align: center;
      padding-bottom: 1.3rem;
      z-index: 9999;
      a {
        color: #fff;
        background: $transp;

        span {
          color: #fff;
          background: $transp;
        }
      }
    }
  }
}

.cont-bot-icons{
  
  .cont-icon-foot{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;



      img{
        width: 27px;
        height: 27px;
      }

    
    span{
      text-align: center;
      color: $primary-clr;
    }
  }
}
