//NUEVAS PALETA DE COLORES...
$primary-clr:   #0A141D;
$secondary-clr: #FE1417;
$tertiary-clr:  #FFFFFF;
$coral:         #FF394C;
$pink:          #E6010C;

.back-logg-usertype {
  background-color: $primary-clr;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;

  .cont-c-logg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cont-card-logg {
      background: transparent;
      box-shadow: unset;
      width: 100%;
      margin: 0 !important;

      ion-card-header {
        padding: 0 !important;
        margin: 0 auto 3.5rem auto !important;
        width: 48%;
        img {
          width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      .cont-controls-logg {
        margin: 0 auto !important;
        padding: 0 !important;
        width: 80%;

        ion-list {
          background: transparent;
          padding: 0 0 .65rem 0 !important;
          .cont-input-custom {
            border-radius: 1.5rem;
            margin: 0 0 .8rem 0;
            background-color: $tertiary-clr !important;
            height: 45px !important;
            
            .icons-logg{
              margin: 0 0.7rem 0.4rem 0;
            }

            ion-input {
              text-align: left;
            }
          }
        }
        .cont-btn-logg {

          button {
            background: linear-gradient(45deg, $coral, $pink);
            color: $tertiary-clr;
            padding: 1rem 0;
            display: block;
            width: 100%;
            border-radius: 1.5rem;
            outline: none;
            font-weight: 800;

            &:active{
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .back-logg-usertype {
    .cont-c-logg {
      ion-card {
        padding: 0 !important;
        ion-card-header {
          img {
          }
        }
        ion-card-content {
          ion-list {
            ion-item {
              ion-input {
              }
            }
          }
          .ion-padding-top {
            button {
            }
          }
        }
      }
    }
  }
}