<div class="back-logg-usertype">
  <ion-card center>
    <ion-card-header class="ion-text-center">
      <img src="../../assets/img/Logo_TTRK.png" alt="logo_ttrueque">
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item>
            <!--<ion-label fixed>Celular:</ion-label>-->
            <ion-input [(ngModel)]="userData.mobile" type="number" placeholder="Celular"></ion-input>
          </ion-item>
          <ion-item>
            <!--<ion-label fixed>Contraseña:</ion-label>-->
            <ion-input [(ngModel)]="userData.password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
      </ion-list>
      <div class="ion-padding-top ion-padding-bottom">
        <button block (click)="onLogin()" class="no-ripple" id="btn-login" profile-button end>
          Iniciar Sesión
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
