<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row class="pad">
      <ion-col>
        <div class="text-titulo">
          <p>
            CATEGORÍAS
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div class="categoryproducts">
    <div class="contenedor" *ngFor="let cate of categorys;  let i = index;">
      <img
        src="{{url}}{{cate.cateimg}}"
        (click)="opencategory(cate.id, cate.categry)"
        class="itemimg"
      />
      <div>{{cate.categry}}</div>
    </div>
  </div>
</ion-content>
