<ion-content>
  <div class="cont-t-sel-usertype">
    <ion-grid>
      <div class="cont-title-sel-user">
        <h1>Selecciona el tipo de usuario</h1>
      </div> 
    </ion-grid>
    <ion-grid>
      <div class="cont-sel-user">
        <div class="cont-trg-type-user">
          <button (click)="onCliente()"  expand="block">
            <div class="icon-cont-typeuser">
              <img class="icon-type-user" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/profile-1506810-1278719.png" width="100px"  />
            </div>
            <h1>Cliente</h1>
          </button>
        </div>
        <div class="cont-trg-type-user">
          <button (click)="onEmpleado()"   expand="block">
            <div class="icon-cont-typeuser">
              <img class="icon-type-user" src="https://image.flaticon.com/icons/png/512/560/560268.png" width="100px"  />
            </div>
            <h1>Vendedor</h1>
          </button>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>