//VARIABLES GENERALES...
$btn-opts-hov : #3880FF;
$whrite: #fff;
$grey: grey;


.cont-t-sel-usertype{
    width: 100%;
    height: 100%;
    /*background: linear-gradient(-0deg, blue, steelblue, skyblue);*/
    background-image:url(../../../assets/img/utilities/img_bakground_ttrq_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;

    &:before{
        content: '';
        width:100%;
        height:100%;
        position:absolute;
        background:rgba(0,0,0,.2);
    }
    
    ion-grid{
        z-index:9999;
        .cont-title-sel-user{
            padding: 0 1rem;
            margin-bottom: 1rem;
            z-index:9999;
            h1{
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: .3rem;  
                z-index:9999;
            }
            h6{
                margin: 0;
                color: $grey;
                font-size: .85rem;
                z-index:9999;
            }
        }
        .cont-sel-user{
            display: flex;
            flex-wrap: wrap;
            z-index:9999;
        
            .cont-trg-type-user{
                margin-bottom: 1.8rem;
                width: calc(100% * 1/2);
                padding: 0 .5rem;
                z-index:9999;
        
                button{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: .5rem;
                    background: #fff;
                    box-shadow: 0 4px 40px 1px rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.01);
                    padding: 1rem 0;
                    outline: none;
                    z-index:9999;
                    
                    &:hover{
                        box-shadow: 0 0 10px 1px $whrite;
                    }

                    &:active{
                        background: #1E90FF;
			            box-shadow: 0 0 30px 1px skyblue;
                    }
                }
            }
        }
    }
}

@media (max-width:375px){
    .cont-trg-type-user{
        width: 100% !important;   
            
    }
    .cont-sel-user{
        padding: 0 1rem;
    }
}