$transp: transparent !important;
$principal-color: #1E90FF;

ion-content {
  .back-sidebar-left-ttrq {
    background-image: url(../../assets/img/utilities/backgrond_sidebarleft_ttrueque.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: $principal-color;
      opacity: 50%;
      position: absolute;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 50%;
      position: absolute;
    }

    .cont-more-info{
      z-index: 9999999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem 0 1rem;
      .cont-logo-sdlf-ttrq {
        background: $transp;
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 120px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-bottom: .5rem;
        overflow: hidden;

        img {
          width: 100%;
          -o-object-fit: contain;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
        }
      }
      .cont-info-client{
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        h1{
          margin: 0;
          font-size: 1.4rem;
        }
        p{
          margin: 0;
          font-weight: 300;
        }
      }
    }

    ion-list {
      background: transparent !important;
      height: 100%;
      z-index: 9999;

      ion-menu-toggle {
        background: $transp;

        ion-item {
          background: $transp;
          ion-icon {
            color: #fff;
          }
          ion-label {
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }

    .footer-sdbl-ttrq {
      background: $transp;
      background: transparent !important;
      font-size: 0.8rem;
      text-align: center;
      padding-bottom: 1.3rem;
      z-index: 9999;
      a {
        color: #fff;
        background: $transp;

        span {
          color: #fff;
          background: $transp;
        }
      }
    }
  }
}
