.cont-about-ttrq{
    padding: .5rem 1rem 1rem 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
    h1{
<<<<<<< HEAD
        font-size: 1.3rem;
        text-align: center;
        color: grey;
=======
        font-size: 1.5rem;
        font-weight: bold;
>>>>>>> dd311d3... new changes into styles for apk
    }
}