<ion-header>
  <ion-toolbar>
    <div class="header-cust-ttrqapk">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'ABOUT.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="cont-total-about"> 
  <div class="cont-info-about">
    <h1>PRIVACIDAD Y SEGURIDAD TTRUEQUE</h1>
    <p>
      Aseguramos la máxima reserva y protección sobre aquellos datos personales
      de los clientes/usuarios que sean ingresados en el sitio en internet de su
      propiedad esta política está regulada por la legislación peruana y en
      particular por reglamento de la:<br />
      <strong>Ley n° 29733</strong> – ley de protección de datos personales aprobada por el
      decreto supremo n° 019-2013-JUS/DGPDP
    </p>
  </div>
</ion-content>