<ion-header>
  <ion-toolbar>
    <div class="header-cust-ttrqapk">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Pago éxitoso </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
	<div class="cont-confirm-details">
		<div class="cont-center-info">
			<div class="cont-img-confirm">
				<img src="../../assets/img/utilities/animate_gif_ttrueque_confirm.gif" alt="">
			</div>
			<h1>¡Felicidades! </h1>
			<h2>Se realizó correctamente el pago.</h2>
		</div>
		<a href="/lateral/home">LISTO</a>
	</div>
</ion-content>